*
{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
font-size: small;
}



.ig-table-container .card {
    vertical-align: middle;
  
}


.ig-table-container .card table{
    display: table-cell;
    vertical-align: middle;
    
}

.ig-table-container .card table tbody td{
    padding: 5px;
}

.master-data-page-tittle{
padding: 10px;
font-size: large;
color: #154360;
font-weight: bold;


}


.master-data-page-body table{
width: 80%;
padding-left: 10px;
padding-right: 10px;

}

.master-data-page-body table td{ 

    padding: 10px;

    
    }

    .css_notification_input{

        height: 100px;
        width: 200px;
    
    }
  
input[type='text']{

    border: 1px solid steelblue;
}



    



