*
{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;

}


.css_masterpage {
    height: 800px;
    display: block;
    position: relative;
  }
  
  .css_masterpage::after {
    content: "";
    background-image:  url("../../images/teahuha_background.jpg"); 
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.css_masterpage img{

   margin-top: 150px;
   
}